.main {
  display: flex;
}
.main .center {
  flex: 2;
  display: flex;
  flex-direction: column;
  padding: 0px 32px 0px 32px;
}

.main .side {
  flex: 1;
  padding: 0px 32px 0px 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.center .create-story , .create-post,
.side{
  display: flex;
  align-items: center;
  background-color: white;
  padding: 15px 25px 15px 25px;
  margin: 10px 0px 10px 0px;
  border-radius: 10px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
}
.create-post {
  padding: 40px 25px;
}
.posts {
  display: flex;
  flex-direction: column;

  padding: 15px 25px 15px 25px;
  margin: 10px 0px 10px 0px;
  border-radius: 10px;
  
  background-color: white;

}
.posts .post {
  display: flex;
  margin: 10px 0px;
  padding: 40px 25px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
}

.create-story img {
  height: 24px;
  width: 24px;
  background-color: rgb(235, 245, 255);
  padding: 8px 8px 8px 8px;
  border-radius: 20px;
}
.create-story .create-story-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  flex: 1;
}
.create-story-text .title {
  font-weight: 500;
}
.create-story-text .description {
  color: rgb(111, 110, 110);
}
.main .side{
  display: flex;
  justify-content: start;
  padding: 0;
  align-items: center;
}

.side .group-conversations {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 90%;
  padding: 15px 10px;
  margin: 20px 0px;
  background-color: white;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.15);
}
.side .group-conversations img{
  height: 24px;
  width: 24px;
  background-color: rgb(235, 245, 255);
  padding: 8px 8px 8px 8px;
  border-radius: 20px;
  margin-right: 10px;
}
